.heading {
  text-align: center;
  margin: 20px;
  font-size: 40px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.links {
  margin-top: 100px;
  margin-left: 150px;
  text-decoration: none;
}
.link {
  color: #260572;
  font-weight: 500;
  font-size: 25px;
}
.linkinline {
  display: inline;
}
.link :hover {
  color: green;
}
